<h2>เกี่ยวกับเรา</h2>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
  </nav>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                สวัสดีครับ
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://th.bing.com/th/id/R.6606ab9f42e79652fde8fb6ca2e4382b?rik=zAfphgxv6Of%2fDg&riu=http%3a%2f%2f3.bp.blogspot.com%2f-VePEGRpEYaI%2fT-SpF27aw4I%2fAAAAAAAADr0%2f9GG4lrgdomI%2fs1600%2fJohn%2bCena%2bWallpaper%2b(111).jpg&ehk=MuEDiRNRe4mdCyby9BqbvYMGHbakiyR0%2f%2bP%2biROCQ8c%3d&risl=&pid=ImgRaw&r=0" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">My name is John cena!!!!!!!!</p>
            </div>
          </div>
        </div>
    </div>
<div class="row">

</div>